In [2]:
import requests
import pandas as pd

# Insert your own client ID here
client_id = '6e7d29f6-8f77-4317-b9a6-846a7052852c'

In [25]:
# Define endpoint and parameters
endpoint = 'https://frost.met.no/observations/v0.jsonld'
parameters = {
    'sources': 'GR1',
    'elements': 'over_time(equivalent_reflectivity_factor PT1M)',
    'referencetime': 'latest',
}
# Issue an HTTP GET request
r = requests.get(endpoint, parameters, auth=(client_id,''))
# Extract JSON data
json = r.json()

In [26]:
# Check if the request worked, print out any errors
if r.status_code == 200:
    data = json['data']
    print('Data retrieved from frost.met.no!')
else:
    print('Error! Returned status code %s' % r.status_code)
    print('Message: %s' % json['error']['message'])
    print('Reason: %s' % json['error']['reason'])

Error! Returned status code 412
Message: 412
Reason: No time series found for this combination of parameters, check /observations/availableTimeSeries for more information.

In [5]:
# This will return a Dataframe with all of the observations in a table format
df = pd.DataFrame()
for i in range(len(data)):
    row = pd.DataFrame(data[i]['observations'])
    row['referenceTime'] = data[i]['referenceTime']
    row['sourceId'] = data[i]['sourceId']
    df = df.append(row)

df = df.reset_index()

In [6]:
df

,index,elementId,value,unit,level,timeOffset,timeResolution,timeSeriesId,performanceCategory,exposureCategory,qualityCode,referenceTime,sourceId
0,0,mean(air_temperature P1D),3.2,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN18700:0
1,1,mean(air_temperature P1D),3.0,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT6H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN18700:0
2,2,sum(precipitation_amount P1D),13.5,mm,NaN,PT18H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN18700:0
3,3,sum(precipitation_amount P1D),29.0,mm,NaN,PT6H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN18700:0
4,4,mean(wind_speed P1D),1.7,m/s,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN18700:0
5,0,mean(air_temperature P1D),3.0,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN18700:0
6,1,mean(air_temperature P1D),3.2,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT6H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN18700:0
7,2,sum(precipitation_amount P1D),3.3,mm,NaN,PT18H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN18700:0
8,3,sum(precipitation_amount P1D),9.0,mm,NaN,PT6H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN18700:0
9,4,mean(wind_speed P1D),2.9,m/s,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN18700:0
10,0,mean(air_temperature P1D),2.1,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN90450:0
11,1,mean(air_temperature P1D),-0.9,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT6H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN90450:0
12,2,sum(precipitation_amount P1D),0.0,mm,NaN,PT18H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN90450:0
13,3,sum(precipitation_amount P1D),0.0,mm,NaN,PT6H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN90450:0
14,4,mean(wind_speed P1D),1.3,m/s,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-01T00:00:00.000Z,SN90450:0
15,0,mean(air_temperature P1D),6.1,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN90450:0
16,1,mean(air_temperature P1D),3.4,degC,"{'levelType': 'height_above_ground', 'unit': '...",PT6H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN90450:0
17,2,sum(precipitation_amount P1D),0.0,mm,NaN,PT18H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN90450:0
18,3,sum(precipitation_amount P1D),0.0,mm,NaN,PT6H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN90450:0
19,4,mean(wind_speed P1D),3.9,m/s,"{'levelType': 'height_above_ground', 'unit': '...",PT0H,P1D,0,C,2,2,2010-04-02T00:00:00.000Z,SN90450:0